<div ng-controller="UsersController">
    <div class="container">
        <div class="row">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="getFriends();state=1">Все друзья</button>
                <button type="button" class="btn btn-primary" ng-click="getOutgoingRequests();state=2">Исходящие заявки</button>
                <button type="button" class="btn btn-primary" ng-click="getIncomingRequests();state=3">Входящие заявки</button>
            </div>
        </div>
        <div class="row">
            <input class="form-control" type="search" ng-model="titleSearch" placeholder="Начните вводить имя друга" />
            <label for="onlineFilter">Только Онлайн</label>
            <input type="checkbox" ng-model="onlineFilter" id="onlineFilter" />
        </div>
        <div>
            <table class="table ">
                <tr>
                    <th></th>
                    <th>Действие</th>
                    <th>Слушает</th>
                    <th>Последняя Активность</th>
                </tr>
                <tr ng-repeat="user in friends| filter:titleSearch |onlineUsersFilter: onlineFilter">
                    <td>
                        <a href="/#/Users/{{user.Id}} ">
                            <img ng-src="{{user.AvatarFilePath}}" width="80" height="80">
                        </a>
                        <a href="/#/Users/{{user.Id}} ">{{user.FirstName}}</a>
                    </td>
                    <td>
                        <button ng-show="state == 1" class="btn-default" ng-click="removeFriend(user)">
                            Удалить
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button><br />
                        <button ng-show="state == 3"  class="btn-default" ng-click="confirmFriend(user)">
                            Принять заявку
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button><br />
                        <a class="btn-link" href="/#/Conversations/{{user.Id}}?dialog=true">Написать Сообщение</a>
                    </td>
                    <td>
                        <a href="/#/Songs/{{user.CurrentSong.SongId}} ">
                            <span>{{user.CurrentSong.Artist}}</span>
                            <span> - </span>
                            <span>{{user.CurrentSong.Title}}</span>
                        </a>
                    </td>
                    <td>
                        <span>{{user.LastActivityDate}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
