<div class="modal-header">
    <h3 class="modal-title">{{userInfo.FirstName}} </h3>
</div>

<div class="modal-body">
    <img ng-src="{{userInfo.AvatarFilePath}}" width="400" height="400" />
</div>
<div class="modal-footer">
    <button class="close" ng-click="cancel()">закрыть</button>
</div>

