<div class="container" ng-show="showComments">
  <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
    <div class="col-xs-12 col-md-12">
      <div class="panel panel-default" id="draggablePanelList">
        <div class="panel-heading top-bar">
          <div class="col-md-8 col-xs-8">
            <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> {{commentsToNode.Name}}</h3>
          </div>
          <div class="col-md-4 col-xs-4" style="text-align: right;">
            <button type="button" class="close" ng-click="closeComments()">&times;</button>
          </div>
        </div>

        <div class="panel-body msg_container_base" my-scroll>
          <div ng-repeat="comment in comments">


            <div class="row msg_container base_sent" ng-if="comment.CommentBy == logState.Id">
              <div class="col-md-10 col-xs-10">
                <div class="messages msg_sent">
                  <p>
                    {{comment.Value}}
                  </p>
                  @*<time>{{comment.Date |  date:'HH:mm:ss '}}</time>*@
                </div>
              </div>
              <div class="col-md-2 col-xs-2 avatar">
                <img ng-src="{{comment.AvatarFilePath}}" class=" img-responsive ">
              </div>
            </div>

            <div class="row msg_container base_receive" ng-if="comment.CommentBy != logState.Id">
              <div class="col-md-2 col-xs-2 avatar">
                <img ng-src="{{comment.AvatarFilePath}}" class=" img-responsive ">
              </div>
              <div class="col-md-10 col-xs-10">
                <div class="messages msg_receive">
                  <p>
                    {{comment.Value}}
                  </p>
                  @*<time>{{comment.Date | ctime | date:'HH:mm:ss '}}</time>*@
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="input-group">
            <input id="btn-input" type="text" ng-model="comment" class="form-control input-sm" placeholder="Write your message here..." />
            <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" id="btn-chat" ng-click="addComment(comment)">Send</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>