@*<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">*@
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
@*<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">*@

<div ng-controller="ContentFillingController" class="container">
  <input type="button" class="btn btn-warning" ng-click="doClusteing()" value="Кластеризовать">
  <input type="button" class="btn btn-success" ng-click="addimage()" value="Загрузить изображение">
  <input type="button" class="btn btn-success" ng-click="uploadAudio()" value="Загрузить аудио">
  <input type="button" class="btn btn-success" ng-click="recogniseAudio()" value="Распознать запись">
  <input type="button" class="btn btn-success" ng-click="openAudioAdd()" value="Добавить аудио">
  <div class="row">
    <div class="col-md-5 col-md-offset-5">
      <h4><i>{{parentNode.Name }}</i></h4>
    </div>

  </div>

  <div class="row" ng-show="addImageMode">
    <div class="col-md-12">
      <input type="file" nv-file-select uploader="uploader" /><br />
      <div class="well my-drop-zone" nv-file-over="" nv-file-drop="" uploader="uploader">Перетащите картинку сюда</div>
      <table class="table">
        <thead>
          <tr>
            <th>Название</th>
            <th ng-show="uploader.isHTML5">Размер</th>
            <th ng-show="uploader.isHTML5">Прогресс</th>
            <th>Результат</th>
            <th>Дейстивя</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in uploader.queue">
            <td>
              <strong>{{ item.file.name }}</strong>
              <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
            </td>
            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
            <td ng-show="uploader.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
              <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Загрузить
              </button>
              <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Отменить
              </button>
              <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Удалить
              </button>

              <div>

              </div>
            </td>
          </tr>
          <tr ng-show="imagePaths !== null">
            <td colspan="5">
              <input type="text" class="form-control input-lg" ng-model="imagePaths.FullPath" ngreadonly="true" style="max-width: 790px">
              <button type="button" class="btn btn-success" ng-click="recogniseText()">
                <span class="glyphicon glyphicon-trash"></span> Распознать текст
              </button>
              <pre>{{recogniseResult}}</pre>
            </td>


          </tr>
        </tbody>
      </table>
    </div>
  </div>




  <div class="row">
    <div text-angular
         ng-model="htmlContent"
         name="demo-editor"
         ta-html-editor-class="border-around"></div>
    <br />
    <input type="button" class="btn btn-info pull-right" ng-click="addResource()" value="Отправить">

    <br />
    <br />
    <div class="row">



      <div ng-repeat="resource in resources">
        <hr />
        <div class="row">
          <div class="col-md-3">
            <div>
              <a href="/#/Users/{{resource.AddBy}} ">
                <img ng-src="{{resource.AvatarFilePath}}" width="80" height="80">
              </a>
            </div>
            <br />
            <hr />
            <a href="/#/Users/{{resource.AddBy}} ">{{resource.FirstName}} {{resource.LastName}}</a>
            <span>{{resource.Date}}</span>
          </div>
          <div class="col-md-9">
            <div ng-bind-html="resource.ResourceRaw"></div>
          </div>
        </div>
      </div>


    </div>
  </div>

  @*<div1 class="container text-center lighter border-around">
      <div class="lighter roboto">
        <p ng-bind="htmlContent" class="text-left text-med text-gray"></p>
      </div>
    </div>*@
</div>

