<div ng-controller="RoundController" class="container">
    <div class="row" ng-hide="usersMode">
        <div class="col-md-5 ">
            <h4>Добавьте основные разделы по теме</h4>
            <textarea ng-model="newNodeName" rows="4" cols="50"></textarea>
            <button class="btn btn-success pull-right" ng-click="addNewNode(newNodeName)">
                <span class="glyphicon glyphicon-plus">Добавить</span>
            </button>
        </div>

        <button class="btn btn-default pull-right" ng-click="saveNodes()">
            <span class="glyphicon glyphicon-save">Зафиксировать</span>
        </button><div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <span>{{rootNode.Name }}</span>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="usersMode">
        <div class="col-md-12">
            <h4>Разделы перовго уровня</h4>
            <div ng-repeat="node in nodes">
                <div class="col-md-6 ">
                    <div class="panel panel-default" ng-click="selectNode($index)" ng-attr-id="{{ 'node' + $index }}">

                        <div class="panel-heading text-center">
                            <span>{{$index + 1}}</span>
                        </div>
                        <div class="panel-body">
                            <textarea ng-model="node.Name" rows="4" cols="50"> </textarea>
                            <button class="btn btn-default pull-right" ng-click="removeNode($index,node)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row" ng-show="firstRoundMainBoard">
        <h4>Все участники внесли свои предложения</h4>

        <button class="btn btn-success pull-right" ng-click="viewRoundLevelVote()">
            <span class="glyphicon glyphicon-remove">Перейти к просмотрy</span>
        </button>
    </div>
    <div class="row" ng-show="usersMode">
        <h4>Ожидание внесения предложений участниками</h4>
        <div ng-repeat="member in members" class="panel-group ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>{{member.FirstName}}</span>
                    <span>{{member.LastName}}</span>
                </div>
                <div class="panel-body">
                    <img ng-src="{{member.AvatarFilePath}}" width="80" height="80" />

                    <div class="pull-right">
                        <span ng-show="member.SessionSuggestion" class="glyphicon glyphicon-ok"></span>
                        <span ng-show="!member.SessionSuggestion" class="glyphicon glyphicon-minus"></span>
                    </div>

                    @*<button class="btn btn-default pull-right" ng-click="updateUserSuggestion()">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>*@
                </div>
            </div>
        </div>
    </div>
</div>