<div ng-controller="RoundLevelVoteController" class="container">
    <h4>Предложения сделанные участниками</h4>
    <div class="row" ng-hide="">
        <table class="table table-condensed">
            @*<tr>
                    <th >Участники</th>
                    <th >Предложения</th>
                    <th>Голосовать</th>
                </tr>*@
            <tbody ui:sortable ng:model="members">
                <tr ng-repeat="member in members" ng-class="{success:$index == 0 && voteFinished, warning:$index != 0 && voteFinished}">
                    <td>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="/#/Users/{{member.Id}} ">
                                    <span>{{member.FirstName}}</span>
                                    <span>{{member.LastName}}</span>
                                </a>
                            </div>
                            <div class="panel-body">
                                <img ng-src="{{member.AvatarFilePath}}" width="80" height="80" />
                            </div>
                        </div>
                    <td>
                    <td class="col-md-9">
                        <div ng-repeat="node in member.SuggestedNodes">
                            <div class="col-md-4">
                                <div class="panel panel-default ">
                                    <div class="panel-heading">
                                        <span>{{$index + 1}}</span>
                                    </div>
                                    <div class="panel-body">
                                        <textarea readonly cols="30" rows="5">{{node.Name}}</textarea>
                                        @*<button class="btn btn-default pull-right" ng-click="removeNode($index,node)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>*@
                                    </div>
                                </div>
                            </div>


                        </div>
                    <td>
                    <td class="col-md-1">
                        @*todo update with ng-show="member.Id !== logState.Id"*@
                        <div ng-hide="voteFinished">
                            <div ng-if="levelVoted != ''">
                                <button class="btn btn-success pull-right" ng-if="levelVoted.SuggetedBy === member.Id" ng-disabled="true">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </div>
                            <div ng-if="levelVoted == ''">
                                <button class="btn btn-success pull-right" ng-click="levelVote(member)">
                                    <span class="glyphicon glyphicon-ok">Голосовать</span>
                                </button>
                            </div>
                        </div>
                        <div ng-show="voteFinished">
                            <h4 class="glyphicon glyphicon-check">Результат:{{member.VotesResults.length}}</h4>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row" ng-show="voteFinished">
        <button class="btn btn-success pull-right" ng-click="goToRoundWinnerVote()" tooltip-placement="left" uib-tooltip="Перейти к обсуждению победителя">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </div>
</div>