<div ng-controller="TreeController" class="container">
  <div class="row">
    <div class="col-md-5">
      <div id="tree"></div>
    </div>
    <div class="col-md-5">
      <button class="btn btn-success " ng-click="navigateToNode()">
        <span class="glyphicon glyphicon-expand">Перейти к узлу</span>
      </button>
    </div>
  </div>

</div>