@model dynamic

<script src="~/Scripts/bootstrap-treeview.js"></script>

<script>
  $(function () {
      debugger;
      $('#tree').treeview({ data: getTree() });

    function getTree() {
      // Some logic to retrieve, or generate tree structurec+

      return [
          {
            text: "Parent 1",
            nodes: [
                {
                  text: "Child 1",
                  nodes: [
                      {
                        text: "Grandchild 1"
                      },
                      {
                        text: "Grandchild 2"
                      }
                  ]
                },
                {
                  text: "Child 2"
                }
            ]
          },
          {
            text: "Parent 2"
          },
          {
            text: "Parent 3"
          },
          {
            text: "Parent 4"
          },
          {
            text: "Parent 5"
          }
      ];

    }
  });
 
</script>
sadas

<div ng-controller="KnowledgeSessionController" class="container">
  <div id="tree"></div>
</div>